[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["corepack enable && pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx serve -s dist -l 8000"